<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dtvproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Profile"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Seach_all"
            android:screenOrientation="portrait"/>
        <activity android:name=".Settings"
            android:screenOrientation="portrait"/>
        <activity android:name=".Calendar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Audio"
            android:screenOrientation="portrait"/>
        <activity android:name=".VideoList"
            android:screenOrientation="portrait"/>
        <activity android:name=".Video_player"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Welcome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>